defaults:
  - _self_
  - global_config

MODEL:
  architecture: "MSClipFacto"
  msclip_model_name: "Llama3-MS-CLIP-Base"
  msclip_ckpt: ""        # or path to local ckpt; leave empty to use HF download configured in build_model
  input_img_res: 264
  img_res: 224
  train_max_seq_len: 5
  val_max_seq_len: 5
  test_max_seq_len: 5
  input_dim: 10
  patch_size: 16
  num_classes: 2
  channels: 10
  threshold: 0.5
  ds_labels: true
  use_cls_fusion: false
  use_l1c2l2a_adapter: false
  unfreeze_last_block: false
  ABMIL: false           # use ABMIL module  
  use_mixer: true    
  log_abmil: false               # turn on/off logging of ABMIL attention
  log_abmil_fold_mixer: false    
  fire_class_id: 1  
  pretrained: true
  l1c2l2a_Adapter_loc: "${paths.l1c2l2a_Adapter_loc}"
  out_H: 25
  out_W: 25
  temp_enc_type: "mixer"  #attention, mixer
  freeze_msclip: true
  clearclip:
    enabled: true          
    n_last: 1
    attn_variant: "qq"    
    keep_ffn: false        # should be false for ClearCLIP
    keep_residual: false   # should be false for ClearCLIP
  sclip:
    enabled: false
    n_last: 1
  denseclip:
    enabled: false
    class_names: ["no fire", "fire"]
    prompt_template: "A satellite image of {}."
    concat_scores: true
    tau: 0.07


SOLVER:
  num_epochs: 20
  num_warmup_epochs: 2
  loss_function: masked_dice_loss #combined_dice_ce or masked_dice_loss
  lr_scheduler: 'cosine'
  lr_start: 1e-5
  lr_min: 1e-5
  num_cycles: 1
  lr_base: 3e-4
  weight_decay: 0.001
  accumulate_grad_batches: 2

DATASETS:
  mode: "huggingface"
  kwargs:
    mean_file: "${paths.bands_mean}"
    std_file: "${paths.bands_std}"
    with_loc: False
    with_doy: True
    use_msclip_norm: true
    bands: [
              "B2",
              "B3",
              "B4",
              "B5",
              "B6",
              "B7",
              "B8",
              "B8A",
              "B11",
              "B12",
          ]
  train:
    data_dir: "${paths.hf_data}"
    batch_size: 24
    num_workers: 8

  eval:
    data_dir: "${paths.hf_data}"
    batch_size: 24
    num_workers: 8


CHECKPOINT:
  load_from_checkpoint:
  experiment_name: "MS-ClearCLIP_mixer"
  save_path: "./results/models"
  train_metrics_steps: 200 
  save_steps: 10000
  wandb_project: "${wandb.project}"
  wandb_user: "${wandb.user}"
  group: V3

SET-UP:
  seed: 42
  local_device_ids: [0]
