defaults:
  - _self_
  - global_config

model_path: "/home/grosse/CanadaFireSat-Model-CBM/results/models/MS-ClearCLIP_mixer_CBM/MSClipFacto-07-f1-0.45.ckpt" 
config_name: "config_file.yaml"
mode: "image"
split: "val" # test, val,test_hard
output_dir: "/home/grosse/CanadaFireSat-Model-CBM/results/models/MS-ClearCLIP_mixer_CBM/metrics4234Focus"
seed: 42
with_region: True
n_plots: 50
size_plots: 6
log_concepts: true
visualise: false
ConceptToVisualise:  


CBM_ABLATION:
  enabled: true
  chunk_size: 1024
  remove_ids: 
  enhance_ids: 
  enhance_factor: 
  focus_id: 4234 #


CHECKPOINT:
  experiment_name: MS-ClearCLIP_mixer_CBM
  group: V5
  load_from_checkpoint: /home/grosse/CanadaFireSat-Model-CBM/results/models/MS-ClearCLIP/MSClipFacto-17-f1-0.45.ckpt
  save_path: results/models/MS-ClearCLIP_mixer_CBM
  save_steps: 10000
  train_metrics_steps: 200
  wandb_project: wildfire-forecast
  wandb_user: louis-grosse-epfl
DATASETS:
  eval:
    batch_size: 24
    data_dir: /work/eceo/CanadaFireSat
    num_workers: 8
  kwargs:
    bands:
    - B2
    - B3
    - B4
    - B5
    - B6
    - B7
    - B8
    - B8A
    - B11
    - B12
    mean_file: /work/eceo/CanadaFireSat/metadata/bands_mean.json
    std_file: /work/eceo/CanadaFireSat/metadata/bands_std.json
    use_msclip_norm: true
    with_doy: true
    with_loc: false
  mode: huggingface
  train:
    batch_size: 24
    data_dir: /work/eceo/CanadaFireSat
    num_workers: 8
MODEL:
  ABMIL: false
  architecture: MSClipFacto
  channels: 10
  clearclip:
    attn_variant: qq
    enabled: true
    keep_ffn: false
    keep_residual: false
    n_last: 1
  ds_labels: true
  fire_class_id: 1
  freeze_msclip: true
  img_res: 224
  input_dim: 10
  input_img_res: 264
  l1c2l2a_Adapter_loc: /work/eceo/grosse/l1c2l2a_linear.pt
  log_abmil: false
  log_abmil_fold_mixer: false
  msclip_ckpt: ''
  msclip_model_name: Llama3-MS-CLIP-Base
  num_classes: 2
  out_H: 25
  out_W: 25
  patch_size: 16
  pretrained: true
  sae_before_attention: false
  sae_config: /home/grosse/CanadaFireSat-Model-CBM/results/topk_V4/SAE_clearclip_k8_8192/2025-12-21_11-08-48/config.yaml
  sclip:
    enabled: false
    keep_ffn: true
    keep_residual: true
    n_last: 1
  temp_enc_type: mixer
  test_max_seq_len: 5
  threshold: 0.5
  train_max_seq_len: 5
  unfreeze_last_block: false
  use_CBM: true
  use_cls_fusion: false
  use_l1c2l2a_adapter: false
  use_mixer: true
  val_max_seq_len: 5
SET-UP:
  local_device_ids:
  - 0
  seed: 42
SOLVER:
  accumulate_grad_batches: 2
  loss_function: masked_dice_loss
  lr_base: 5.0e-05
  lr_min: 1.0e-07
  lr_scheduler: cosine
  lr_start: 1.0e-07
  num_cycles: 1
  num_epochs: 10
  num_steps_train: 3252
  num_warmup_epochs: 2
  weight_decay: 0.01
paths:
  bands_mean: /work/eceo/CanadaFireSat/metadata/bands_mean.json
  bands_std: /work/eceo/CanadaFireSat/metadata/bands_std.json
  hf_data: /work/eceo/CanadaFireSat
  l1c2l2a_Adapter_loc: /work/eceo/grosse/l1c2l2a_linear.pt
  output_dir: /work/eceo/grosse/topk_overcomplete_runs
wandb:
  project: wildfire-forecast
  user: louis-grosse-epfl
