defaults:
  - _self_
  - global_config

datamodule:
  _target_: src.data.hf_Canada.sae_datamodule.SimpleActivationsDataModule   # MS_CLIP, MS_ClearCLIP, MS_SCLIP
  train_path:  /work/eceo/grosse/saeFeatures/MS_ClearCLIP/train/features.npy
  val_path:   /work/eceo/grosse/saeFeatures/MS_ClearCLIP/validation/features.npy
  test_path:  /work/eceo/grosse/saeFeatures/MS_ClearCLIP/test/features.npy
  batch_size: 4096
  num_workers: 8
  normalize: false
  stats_path: /home/grosse/CanadaFireSat-Model-CBM/results/topk_V4/${CHECKPOINT.experiment_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}/stats/activations_stats.npz  # supports .json or .npz
  
model:
  net:
    _target_: src.models.MSClipTemporalCBM.MSClipTemporalCBM  # example path
    from_msclip: false
    pretrained: false

task_name: "train-sae"

callbacks:
  - _target_: pytorch_lightning.callbacks.ModelCheckpoint
    dirpath: /home/grosse/CanadaFireSat-Model-CBM/results/topk_V4/${CHECKPOINT.experiment_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
    filename: "epoch_{epoch:03d}"
    monitor: "val/r2"
    verbose: False
    save_last: True
    save_top_k: 2
    mode: "max"
    auto_insert_metric_name: True
    save_weights_only: False
    every_n_train_steps: null
    train_time_interval: null
    every_n_epochs: null
    save_on_train_epoch_end: null

  - _target_: pytorch_lightning.callbacks.ModelCheckpoint
    dirpath: /home/grosse/CanadaFireSat-Model-CBM/results/topk_V4/${CHECKPOINT.experiment_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
    filename: "epoch_{epoch:03d}_df"
    monitor: "val/dead_features"
    verbose: False
    save_last: False
    save_top_k: 2
    mode: "min"
    auto_insert_metric_name: True
    save_weights_only: False
    every_n_train_steps: 5
    train_time_interval: null
    every_n_epochs: null
    save_on_train_epoch_end: null


trainer:
  _target_: pytorch_lightning.Trainer

  default_root_dir: ${hydra:run.dir}

  min_epochs: ${min_epochs}
  max_epochs: ${max_epochs}
  accumulate_grad_batches: 1 # set to 2 for 2x batch size, etc.

  accelerator: gpu
  devices: 1

  # mixed precision for extra speed-up
  # precision: 16

  # set True to to ensure deterministic results
  # makes training slower but gives more reproducibility than just setting seeds
  deterministic: False

trainer_sae:
  _target_: pytorch_lightning.Trainer

  num_sanity_val_steps: 0

  default_root_dir: ${paths.output_dir}

  min_epochs: ${sae_min_epochs} # prevents early stopping
  max_epochs: ${sae_max_epochs}
  gradient_clip_val: 1.

  accelerator: gpu
  devices: 1

  # mixed precision for extra speed-up
  # precision: 16

  # set True to to ensure deterministic results
  # makes training slower but gives more reproducibility than just setting seeds
  deterministic: False

sae:
  _target_: src.models.sae.plSAE
  sae_type: "topk"  #batch_topk, topk, jump, ra_sae
  loss_type: "mse_auxk_true"  #mse_reanim, mse_auxk, mse_th, mse, mse_auxk_true
  optimizer_type: "adam"  
  scheduler_type: "lr_plateau"   #lr_plateau, 
  lr: ${sae_lr}
  num_samples: 100000   #max 18549
  # resample_steps: [300000, 600000, 900000, 1200000] # Rougly 1.2M steps
  resample_every_n_epochs: 1000 # Equvivalent to NO resampling
  resample_batch_size: 256
  bind_init: true
  decay_k: false
  align_start_epoch: 40
  # depth_scale_shift: 2
  #criterion_kwargs:
    #penalty: 0.1               

  criterion_kwargs:
    k_aux: 256          # typical value from the paper (they say half the size of input dim)
    penalty: 0.0325

  sae_kwargs:
    input_shape: ${input_shape}
    nb_concepts : ${nb_concepts}
    top_k: ${nb_k}
    #threshold_momentum: 0.5
    device: ${oc.select:device, "cpu"}


min_epochs: 1 
warmup_epochs: 10 
max_epochs: 100 

ds_path : ${oc.env:DATASET_PATH}
ds_path_global : '' # Add Global dataset path 1 deg will complexify the rule-based search space

# Activation Data
mode_data: ""
label_down: 20

hydra:
  run:
    dir: ./results/topk_V4/${task_name}/runs/${now:%Y-%m-%d}_${now:%H-%M-%S}

ALIGN:
  enabled: true
  align_loss_coeff: 0
  csv_cosLoss_path: 'kmeans_k5n2_10k.csv'  # Path to concept names for cosine loss
  csv_phrases_path: /work/eceo/grosse/dictionnaryV2/     # CSV with columns: concept,count
  csv_names: ["kmeans_k3n3_10k.csv", "kmeans_k3n3_30k.csv","kmeans_k3n3_50k.csv","kmeans_k5n2_10k.csv","kmeans_k5n2_30k.csv","kmeans_k5n2_50k.csv","kmeans_k5n2_11k_wildfire.csv","random.csv"] #'concept_countsCLIPDATASET.csv' "concept_countsCLIPDATASET.csv"
  msclip_model_name: "Llama3-MS-CLIP-Base"    
  msclip_ckpt:      
  pretrained: true
  device: "cuda"
  text_batch_size: 512
  
# SAE Arguments
use_archetypal: 
  enabled: false  #Turn off bind init if you use this
  CLIPtionnary: false

  

input_shape: 512
nb_concepts: 8192
nb_k: 8 # See Analysis in Scaling ...
sae_lr: 5e-6
sae_batch_size: 256
sae_min_epochs: 1
sae_max_epochs: 100
sae_ckpt_path: null

tags: ["dev"]

# set False to skip model training
train: True

# evaluate on test set, using best model weights achieved during training
# lightning chooses best weights based on the metric specified in checkpoint callback
test: True

# simply provide checkpoint path to resume training
ckpt_path: null

# seed for random number generators in pytorch, numpy and python.random
seed: 42

CHECKPOINT:
  load_from_checkpoint:
  experiment_name: "SAE_clearclip_k8_8192"
  save_path: "./results/topk_V4"
  train_metrics_steps: 200 
  save_steps: 10000
  wandb_project: "${wandb.project}"
  wandb_user: "${wandb.user}"
  group: SAE_V6
